@import url(../css/common\ .css);

/* header style */
header {
  background: rgba(0,0,0, 0.2);
  height: 100px;
  line-height: 100px;
  /* z축 앞으로 튀어나감 */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3252;
}
header .inner-header {
  /* border: 3px solid tomato; */
  width: 84%;
  margin: 0 auto;
}

header .inner-header .logo {
  /* border: 3px solid violet; */
  float: left;
  width: 200px;
}
header .inner-header .logo img {
  width: 100%;
}


header .inner-header .gnb {
  /* border: 3px solid red; */
  float: left;
  margin-left: 80px;
}
header .inner-header .gnb li {
  /* border: 3px dashed yellow; */
  float: left;
  margin-right: 80px;
}

header .inner-header .gnb li a {
  /* background: red; */
  display: block;
  color: #fff;
  font-size: 16px;
}
header .inner-header .gnb li a:hover {
  color: #ff8342;
}


header .inner-header .tnb {
  /* border: 3px solid blue; */
  float: right;
  color: #fff;
  font-size: 16px;
}
header .inner-header .tnb li {
  float: left;
  margin-right: 25px;
}
header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i {
  margin-right: 8px;
  font-size: 18px;
}

header .inner-header .tnb li:last-child a {
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 30px;
}
header .inner-header .tnb li:last-child a:hover {
  background: #fff;
  color: #ff8342;
}

header .inner-header .tnb li:last-child i {
  margin-left: 5px;
}

header .inner-header .gnb-mobile {
  display: none;
}

/* section main style */
section.main {
  background:no-repeat center/cover fixed;
  height: 100vh;
  background-image: url(../img/vis_4.jpg);
  position: relative;
}

section.main .main-title {
  /* background: red; */
  color: white;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 10px #123;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

section.main .main-title h2 {
  font-size: 55px;
}

section.main .main-title p {
  font-size: 25px;
  margin: 20px 0;
}

section.main .main-title .view {
  letter-spacing: 2px;
  font-size: 15px;
  width: 180px;
  margin: 0 auto;
  display: block;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 8px 0;
  position: relative;
  overflow: hidden;
}

section.main .main-title .view::after {
  content: '';
  width: 0%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.4s;
}

section.main .main-title .view:hover::after {
  width: 100%
}

/* section > div.tltle 공통 style  */

section .title {
  text-align: center;
}
section .title h2 {
  font-size: 45px;
  color: #111;
  margin-bottom: 5px;
}
section .title p {
  font-size: 18px;
  color: #555;
}
section .sub-container {
  width: 74%;
  margin: 0 auto;
}

/* section.about style */

section.about{
  margin: 80px 0;
}

section.about ul.sub-container {
  margin-top: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 30px;
}

section.about ul.sub-container li {
  /* background: orange; */
  float: left;
  width: 33.3333%;
  height: 510px;
}

section.about ul.sub-container li .img-box {
  overflow: hidden;
}

section.about ul.sub-container li .img-box img {
  width: 100%;
  transition: 0.5s;
}

section.about ul.sub-container li .text {
/* border: 3px solid blue; */
padding: 25px;
}

section.about ul.sub-container li .text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

section.about ul.sub-container li .text p {
  font-size: 16px;
  margin-bottom: 20px;
}

section.about ul.sub-container li .text .more {
  text-transform: uppercase;
  font-weight: 700;
  /* border: 2px solid #000; */
  position: relative;
  padding-left: 36px;
}
section.about ul.sub-container li .text .more::before {
  content: '→';
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ff8342;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -7px;
}

section.about ul.sub-container li a:hover .img-box img {
  transform: scale(1.2);
  
}

section.innovation{
  margin: 82px 0;
  margin-bottom: 130px;
}

section.innovation .sub-container {
  margin-top: 65px;
  padding-bottom: 30px;
  height: 540px;
  background-image: url(../img/product_1.jpg);
  background-repeat: no-repeat;
}
section.innovation .inner {
  position: relative;
  left: 116px;
  top: 85%;
}

section.innovation .inner .en {
  /* border: 2px solid #000; */
  height: 60px;
  width: 80%;
  background: white;
  font-size: 20px;
  font-weight: 400;
  padding: 22px;
  line-height: 80%;
}

section.innovation .inner .bottom p{
  color: white;
  padding: 40px 80px;
  padding-right: 410px;
  width: 80%;
  height: 120px;
  font-size: 15px;
  line-height: 80%;
  background: #303030;
  position: relative;
}

section.innovation .inner .bottom a {
  position: relative;
  color: white;
  font-size: 15px;
  left:800px;
  bottom: 80px;
  background-color: #ff8419;
  padding: 8px 26px;
  border-radius: 20px;
  text-align: center;
}

section.innovation .inner .bottom a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.me{
  background:no-repeat center/cover fixed;
  background-image: url(../img/me.jpg);
  height: 100vh;
  position: relative;
}

.me .title .en{
   padding-top: 100px;
}

.me .sub-container {
  margin-top: 80px;
  padding: 20px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.me .list {
  height: 500px;
  padding: 40px;
  font-size: 16px;
}

.me .sub-container span {
  font-size: 20px;
  color: orange;
  margin-right: 15px;
}

.me .sub-container h3 {
  font-size: 20px;
}

.me .sub-container>li:nth-child(1) {
  /* border: 3px solid #ff0000; */
  margin-top: 10px;
  margin-bottom: 40px;
}

.me .sub-container>li:nth-child(1)>p {
  /* border: 3px solid #000; */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 35px;
  line-height: 30px;
}

.me .sub-container>li:nth-child(1)>a {
  margin-left: 35px;
  font-size: 20px;
}

.me .sub-container>li:nth-child(2) {
  margin-bottom: 50px;
  /* border: 1px solid #000; */
}

.me .sub-container>li:nth-child(2)>p {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 35px;
  line-height: 30px;
}

.me .sub-container>li:nth-child(2)>a {
  margin-left: 35px;
  font-size: 20px;
}

.me .sub-container>li:nth-child(2)>.in {
  /* border: 2px solid #ff0080; */
  margin-bottom: 20px;
  position: relative; 
}

.me .sub-container>li:nth-child(2)>.in em {
  float: left;
  font-weight: 600;
  width: 10%;
  margin-left: 35px;
  margin-right: 50px;
  margin-bottom: 15px;
  /* border: 1px solid #000; */
}

.me .sub-container>li:nth-child(2)>.in p {
  float: left; 
  /* border: 1px solid #000; */
  width: 80%;
  text-indent: 10px;
}

.me .sub-container>li:nth-child(2)>.in p::before {
  padding: 0.2px;
  width: 5px;
  height: 5px;
  background: orange;
  content: '';
  position: absolute;
  border-radius: 50%;
  left: 150px;
}
#incruit-btn {
  position: relative;
  bottom: 0%;
  color: white;
  font-size: 15px;
  left:800px;
  bottom: -25px;
  background-color: #ff8419;
  padding: 8px 35px;
  border-radius: 20px;
  text-align: center;
}

.sns {
  margin-top: 180px;
}

.sns .sub-container>li {
  /* border: 1px solid #000; */
  width: 32%;
  float : left;
  margin-top: 80px;
  margin-right: 2%;
}

.sns .sub-container li:last-child {
  margin-right: 0;
}



.sns .sub-container .img-box {
  overflow: hidden;
  height: 230px;
  position: relative;
  /* border: 5px solid #000; */
}

.sns .sub-container .img-box img {
  width: 100%;
}

section.sns ul li .img-box::before {
  content: '';
  width: 0;
  height: 100%;
  background: rgba(255, 131, 66, 0.75);
  position: absolute;
  z-index: 10;
  transition: 0.5s;
}
section.sns ul li a:hover .img-box::before {
  width: 100%;
}

section.sns ul li .img-box::after {
  content: 'BLOG';
  font-size: 15px;
  font-family: 'Exo 2', sans-serif;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
  padding: 5px 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 500;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.7s;
}
section.sns ul li a:hover .img-box::after {
  opacity: 1;
}

.sns .sub-container .bottom {
  padding: 20px;
}

.sns .sub-container .bottom .color{
  color: orange;
  font-weight: 700;
  margin-bottom: 10px;
}

.sns .sub-container .bottom p:nth-child(2) {
  font-size: 16px;
  margin-bottom: 30px;
}

.sns .sub-container .bottom .time {
  color: gray;
}

.sns .sub-container .bottom .time i {
  margin-right: 5px;
}

footer .inner {
  float: left;
  width: 100%;
  border-top: 1px solid #000000;
  margin-top: 50px;
  padding: 40px 0px;
}

footer .inner .ft-logo {
  /* border: 1px solid #000; */
  float: left;
  margin-left: 100px;
  margin-right: 40px;
}

footer .inner .ft-logo img {
  width: 80%;
  height: 80%;
}

footer .inner .address {
  float: left;
  margin-top: 40px;
  margin-right: 80px;
  font-weight: 700;
  font-size: 16px;
}
footer .inner .address .en {
  margin-top: 10px;
  font-weight: 500;
  color: gray;
}

footer .inner .list li{
  /* border: 1px solid #000; */
  float: left;
  margin-top: 50px;
  margin-left: 80px;
  font-size: 15px;
}

footer .inner .list li:last-child {
  color: rgb(0, 0, 0);
  font-weight: 700;
}

footer .inner .list li a:hover {
  text-decoration: underline;
  color: #ff8342  
}
